
.App{
  background-color: rgb(112, 73, 186);
  min-height: 100vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  box-sizing: border-box;
  padding: 0px;
}

.timer {
  margin-top: calc(100vh/200);
  text-align: center;
  color:white;
  font-size: calc(100vh/35);
}

.timer .working {
  color: rgb(255, 255, 255);
}

.timer .resting {
  color: rgb(255, 255, 255);
}

.controls {
  text-align: center;
}

.start-button {
  background-color: #370fe907;
  color: white;
  border: 2px solid white;
  padding: calc(100vh/60);
  margin: calc(100vh/90);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: calc(100vh/100);
  font-size: calc(100vh/60);
}

.start-button:hover {
  background-color: darkgreen;
}

.reset-button:active, .btnPause:active, .start-button:active, .configBtn:active {
  color: black;
  background: #B4CED9;
  transform: translateY(4px);
  box-shadow: 0px -4px 0 0px #F2BC1B;
}

.reset-button:hover, .btnPause:hover, .start-button:hover, .configBtn:hover {
  background-color: #B4CED9;
  color: black;
}

.btnPause, .reset-button, .start-button {
  background-color: #370fe907;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.6rem;
  transition: background-color 0.25s;
  display: inline-block;
  text-transform: uppercase;
  margin: 0.2em;
}

.configBtn{
  background-color: #370fe907;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.6rem;
  transition: background-color 0.25s;
  display: inline-block;
  text-transform: uppercase;
  margin: 0.2em;
}

.soundBtn{
  background-color: #370fe907;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.6rem;
  transition: background-color 0.25s;
  display: inline-block;
  text-transform: uppercase;
  margin: 0.2em;
}


.reset-button:hover {
  background-color: darkviolet;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: rgb(12 15 42);
  overflow-y: scroll;
}

.tabata-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.progressbar-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  transition: all 0.3s linear;
  z-index: 1;
}


.tabata-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.progressbar-background.working {
  background-color: rgb(56, 138, 56);  /* Color de trabajo */
}

.progressbar-background.resting {
  background-color: rgb(138, 56, 56);  /* Color de descanso */
}



.config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;  
  height: 200px;
  transform: translate(-50%, -50%);  
  z-index: 3; 
  background-color: rgba(0, 0, 0, 0.7);  
  border-radius: 10px;  
  padding: 20px; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
}

.lbl{
  color: rgb(255, 255, 255);
}

.inputConfig{
  width: calc(100vh/10);
  height: calc(100vh/30);
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: calc(100vh/40);
  margin: calc(100vh/90);
  float: left;
}


label {
  margin: calc(100vh/90) 0;
  position: relative;
  justify-self: center;
  text-align: center;
  font-size: calc(100vh/30);
}

.segs {
  color: #fff;
  font-size: 12em;
  margin: -0.2em;
  padding: 1rem;
}

.fullscreen-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.countdown {
  background-color: rgb(224, 224, 44);
}

.config-container.open {
  margin-top: -50vh; /* Puedes ajustar este valor según lo que necesites */
}

.referidos{
  color: rgb(6, 0, 32);
  background-color: #B4CED9;
  height: 100%;
  width: 100%;
  font-size: calc(100vh/60);
  text-align: center;
}

