
.App{
  background-color: rgb(112, 73, 186);
  min-height: 100vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top);}

.timer {
  text-align: center;
  color:white;
  font-size: calc(100vh/30);
}

.timer .working {
  color: rgb(255, 255, 255);
}

.timer .resting {
  color: rgb(202, 0, 67);
}

.controls {
  text-align: center;
}

.start-button {
  background-color: rgb(5, 61, 5);
  color: white;
  border: none;
  padding: calc(100vh/60);
  margin: calc(100vh/90);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: calc(100vh/100);
  font-size: calc(100vh/60);
}

.start-button:hover {
  background-color: darkgreen;
}

.reset-button {
  background-color: purple;
  color: white;
  border: none;
  padding: calc(100vh/60);
  margin: calc(100vh/90);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: calc(100vh/100);
  font-size: calc(100vh/60);
}

.btnPause{
  background-color: #e9e50f;
  color: white;
  border: none;
  padding: calc(100vh/60);
  margin: calc(100vh/90);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: calc(100vh/100);
  font-size: calc(100vh/60);
}


.configBtn{
  background-color: #370fe9;
  color: white;
  border: none;
  padding: calc(100vh/60);
  margin: calc(100vh/90);
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: calc(100vh/100);
  font-size: calc(100vh/60);
}

.reset-button:hover {
  background-color: darkviolet;
}

body, html {
  height: 100%;
  margin: 0;
  padding: auto;
  overflow: hidden;
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: rgb(12 15 42);
}

.tabata-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.progressbar-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  transition: all 0.3s linear;
  z-index: 1;
}


.tabata-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.progressbar-background.working {
  background-color: rgb(56, 138, 56);  /* Color de trabajo */
}

.progressbar-background.resting {
  background-color: rgb(138, 56, 56);  /* Color de descanso */
}



.config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;  
  height: 200px;
  transform: translate(-50%, -50%);  
  z-index: 3; 
  background-color: rgba(0, 0, 0, 0.7);  
  border-radius: 10px;  
  padding: 20px; 
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
}

.lbl{
  color: rgb(255, 255, 255);
}

.inputConfig{
  width: calc(100vh/10);
  height: calc(100vh/30);
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: calc(100vh/40);
  margin: calc(100vh/90);
  float: left;
}


label {
  margin: calc(100vh/90) 0;
  position: relative;
  justify-self: center;
  text-align: center;
  font-size: calc(100vh/30);
}

.segs{
  font-size: calc(100vh/6);
  color: white;

}

.fullscreen-icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.countdown {
  background-color: rgb(224, 224, 44);
}

.config-container.open {
  margin-top: -50vh; /* Puedes ajustar este valor según lo que necesites */
}
